* {
    margin: 0;
    padding: 0;
}

:root {
    --color1: #888;
    --color2: #192c33;
    --fond: #c7c7c7;
    --color5: #47565c;
    --color6: #4e6ea5;
    --color7: #f4f7f8;
    --color8: #cdf3ff;
}

body {
    background-color: var(--fond);
}

/**************************************************
        Typos
****************************************************/

/*Normal*/
.t1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 13pt;
    letter-spacing: 0px;
    color: var(--color7);
    text-decoration: none;
}

/*Bouton*/
.t2 {
    font-family: 'Open Sans', sans-serif;
    color: var(--color2);
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    font-size: 100pt;
}

/*Titre*/
.t3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16pt;
    letter-spacing: 0px;
    color: var(--color7);
    text-decoration: none;
    margin-left: 5%; 
}

.t4 {
    font-family: 'Open Sans', sans-serif;
    color: var(--color2);
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    font-size: 40pt;
    font-weight: bold;
    margin-top: 30px;
}

.ttempo {
    font-family: 'Open Sans', sans-serif;
    color: var(--color2);
    text-decoration: none;
    margin: auto;
    cursor: default;
    font-size: 20pt;
    margin-top: 30px;
}


c {
    display: block;
    text-align: center;
    padding: none;
    margin: none;
    text-decoration: none;
    opacity: 0.8;
    font-size: 100%;
}

c:hover {
    opacity: 1;
}

d {
    display: block;
    text-align: center;
    padding: none;
    margin: none;
    text-decoration: none;
    font-size: 100%;
}

/**************************************************
        Centrer
****************************************************/

.centrer {
    position: absolute;
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}

/**************************************************
        Form 1
****************************************************/

.form-popup {
    display: none;
    border: none;
}

.form-container {
    max-width: 100%;
    padding: 3%;
    background-color: var(--color5);
    opacity: 0.9;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: var(--color7);
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: var(--color8);
    outline: none;
}

.form-container .btn {
    background-color: var(--color6);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: var(--color1);
}

.form-container .btn:hover {
    opacity: 1;
}